
/*
Peter Pfisterer
November 5th, 2021 
*/

@font-face {
    font-family:'Kaushan';
    src: url('../fonts/kaushanscript-regular.woff') format('woff'),
    url('../fonts/kaushanscript-regular.woff2') format('woff2');
         
    font-weight: normal;
    font-style: normal;
}
  

html{
	background-image: url(../Images/jewelry.jpg);
	background-position:top;
	background-repeat: no-repeat;
	background-size: cover;
}
	 
#outerwrapper {	
	border-radius: 15%;
	width:70%;
	margin:auto;
	background: rgba(243,205,170, 0.4);
}

header > h1{
	font-family: 'Pacifico', Verdana, Geneva, Tahoma, cursive;
	font-size:4em;
}
header >h2{
	font-family: 'Kaushan', Verdana, Geneva, Tahoma, cursive;
	font-style: italic;
	font-size:2em;
}

.addrightmargin{
float:left;
border-radius: 6em;
margin-right: 10%;
}

main{
background: linear-gradient(to bottom, #FFFFFF, #F0F9E6 70%);
padding:10px;
margin:20px;
border-radius:2em;
font-size:1.25em;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}

footer{
	font-size:1em;
	text-align: center;
	padding:10px;
}

nav > ul{
	list-style: none;
	font-size:1.5em;
	float:none;
}




