/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap');

@font-face {
    font-family: 'Camingo';
    src: url('../fonts/CamingoCode/camingocode-regular.woff') format('woff'),
    url('../Fonts/CamingoCode/camingocode-regular.woff2') format('woff2');
         
    font-weight: normal;
    font-style: normal;
}

/*ELEMENTS*/
a{
    color:rgba(248, 4, 4, 0.89);
    font-size: 120%;
}

h1{
    text-align: center;
}


/*BODY*/
body{
        background-attachment:fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        background-size:cover;
}

/*HEADER*/
header{
background-color:rgb(31, 30, 30);
width:50%;
height:10%;
position: fixed;
top:0;
left:0;
}




/*NAV*/
nav {
	display: table;
	width: 50%;
    height:10%;
    position: fixed;
    top:0;
    right:0;
    background-color:rgb(31, 30, 30);
    padding-right:6%;
}
nav > ul {
	display: table-row;
}
    nav > ul > li {
	display: table-cell;
	text-align: center;
    font-size: 15pt;
    padding:1em;
    font-family: 'Zilla Slab', 'Times New Roman', Times, serif;
}
    
    nav > ul > li > a {
	display: block;
    color:rgba(255, 255, 255, 0.7);
}   
    nav a:link, nav:visited {
    color:rgba(255, 255, 255, 0.7);
    text-decoration: none;
    }
    nav a:hover, nav a:active {
    color:rgb(255, 255, 255);
    }



/*FOOTER*/
footer{
    width: 100%;
    position: fixed;
    bottom:0;
    left:0;
    padding: 1em;
    background-color:rgb(31, 30, 30);
    text-align:center;
    }
    footer > p{
        position:absolute;
        bottom:.5%;
        right:5%;
        height:10%;
        color:rgb(20, 20, 20)
    }



/*CLASSES*/
.art1{
    border-radius: 1em;
    padding:1em;
    position: relative;
    left:45%;
    text-align:left;
    width: 50%;
    background-color: rgba(31, 30, 30, .85);
    color:rgba(255, 255, 255, 0.808);
    font-size: 120%;
    font-family: 'Camingo', 'Times New Roman', Times, serif;
}
.art2{
    border-radius: 1em;
    padding:1em;
    position: relative;
    left:45%;
    text-align:left;
    width: 50%;
    background-color: rgba(31, 30, 30,.85);
    color:rgba(255, 255, 255, 0.808);
    font-size: 120%;
    font-family: 'Camingo', 'Times New Roman', Times, serif;
}

.techArt{
    border-radius: 1em;
    padding:1em;
    position: fixed;
    top:55%;
    left:3%;
    text-align:left;
    width: 50%;
    background-color: rgba(31, 30, 30, .85);
    color:rgba(255, 255, 255, 0.808);
    font-size:120%;
    font-family: 'Camingo', 'Times New Roman', Times, serif;
}
    
.techTable{
    position: fixed;
    top:15%;
    left:3%;
    width: 49%;
    background-color: rgba(31, 30, 30, .77);
    color:rgba(255, 255, 255, 0.808);
    border-radius: 1em;
    padding:1em;
    table-layout: auto;
    font-size:20pt;
    font-family: 'Camingo', 'Times New Roman', Times, serif;
}
    .techTable > table > caption{
        text-align: left;
        padding:.5em;
    }
    .techTable > tr, th{
        border:2px solid rgba(255, 255, 255, 0.808);
        padding-right:1em;
        padding-left:1em;
        color:rgba(248, 4, 4, 0.6);
    }

.formSubmit{
    border-radius:1em;
    padding-top:1em;
    padding-left:1em;
    padding-right:6.5em;
    padding-bottom:1em;
    left:1%;
    top:13%;
    position:absolute;
    text-align:left;
    width: 20em;
    background-color: rgba(31, 30, 30,.5);
    color:rgba(255, 255, 255, 0.808);
    font-family: 'Camingo', 'Times New Roman', Times, serif;
}

.feedbackForm{
    width:30%;
    height:50%;
    border-radius:1em;
    padding-top:1em;
    padding-left:1em;
    padding-right:1em;
    padding-bottom:1em;
    position:absolute;
    left:35%;
    top:20%;
    background-color: rgba(31, 30, 30,.5);
    color:rgba(255, 255, 255, 0.877);
    text-align: left;
    font-family: 'Camingo', 'Times New Roman', Times, serif;
}


.contactInfo{
    border-radius: 1em;
    background-color:rgba(31, 30, 30,.9);
    color:rgba(255, 255, 255, 0.808);
    padding:1em;
    position:absolute;
    right:3%;
    top:13%;
    font-family: 'Camingo', 'Times New Roman', Times, serif;
}

/*SVG Styling*/
.myShape{
transition: transform .5s;
}

svg:hover .myShape{
fill:rgba(248, 4, 4, 0.6);
transform: scale(1.15);
}
    