/*Element styles*/
/*Video ideas found on startbootstrap.com*/
header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }

  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  header .container {
    position: relative;
    z-index: 2;
  }

  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }

  nav{
    height:12vh;
  }

  main {
      min-height: 88vh;
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0,0,0,.55));
      /*
      background-image: linear-gradient(rgba(255, 255, 255, .3),
      rgba(255, 255, 255, .3)), url(../media/southside.jpeg);
      background-size:cover;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 150%;
      */
  }

  footer{
    width:100%;
    height: 12vh;
  }

 /*Class styles*/
 .enterButton {
     display: inline-block;
    transition: transform .3s ease-in-out;
 }
 .enterButton:hover {
     transform:rotate(90deg);
 }

 .rounder{
   border-radius:20px;
 }


