/*
Peter Pfisterer
November 19th, 2021
*/

main > ul{
list-style-image: url(../Images/yogabullet.png);
margin-left:3em;
}

nav > ul > li{
list-style: none;
margin:0;
padding:0;
}
nav > ul{
    padding:0;
    margin:0;
}

.Schedule{
    border-collapse: collapse;
    border:1px;
    border-color:black;
    border-style:solid;
    width:100%;
    margin-bottom: .5em;
}

td{
    border-width: 1px;
    border-color:black;
    border-style:solid;
    align-content: center;
}

footer{
    padding:.5em;
}

address{
    margin-bottom:.5em;
}

/********** Mobile **********/
@media (max-width: 640px){
nav{
    display:block;
}

header{
background-image: none;
}

body{
    background-image: url(../Images/yogamobile.png);
}

img{
    display:none;
}
}

/********** Tablet **********/
@media (min-width:641px){
nav > ul > li{
    display:inline;
}

body{
    background-color:#F5F5F5;
}

img{
    max-width:100%;
}

header{
    background-image: url(../Images/lilyheader.jpg);
}
}