/*Element styles*/

html {
  scroll-behavior: smooth;
}

/*Video ideas found on startbootstrap.com*/
header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  header .container {
    position: relative;
    z-index: 2;
  }

  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }

  nav{
    min-height:12vh;
  }

  main {
      min-height: 88vh;
      background-image: linear-gradient(rgba(63, 63, 63, 0.7),
      rgba(255, 255, 255, .3)), url(../media/chicago.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      background-size: 250%;
  }

  footer{
    width:100%;
    height: 12vh;
  }

 /*Class styles*/
 .enterButton {
     display: inline-block;
    transition: transform .3s ease-in-out;
 }
 .enterButton:hover {
     transform:rotate(90deg);
 }

 .rounder{
   border-radius:20px;
 }

 .error{
   color:rgb(255, 83, 83);
 }

 .faq{
  background-image: linear-gradient(rgba(63, 63, 63, 0.7),
  rgba(255, 255, 255, .3)), url(../media/chicago.jpg);
   min-height: 76vh;
 }
 
 .contact{
  background-image: linear-gradient(rgba(63, 63, 63, 0.7),
      rgba(255, 255, 255, .3)), url(../media/chicago.jpg);
   min-height: 76vh;
 }

 .catalog{
  background-image: linear-gradient(rgba(255, 255, 255, 0.5),
  rgba(255, 255, 255, 0.3));
  min-height: 76vh;
 }

 .spacer{
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 5%;
   background-color: rgb(190, 190, 190);
 }

 .spacer2 {
   height:10%;
 }

 .spacer3 {
   height: 5%;
 }


 .img_list {
   list-style-type: none;
   display: flex;
   padding-inline-start: 0px;
   margin-right: 15%;
   margin-left: 15%;
 }
 .img_list li {
   border: black solid 1px;
   margin-right: 8px;
   margin-right: auto;
   margin-left: auto;
 }

.big_image {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  display: flex;
  border: black solid 1px;
}

.rollover_column {
  min-height:75vh;
}

.features_column {
  min-height:75vh;
  text-align: left;
  border: black solid 2px;
}

.buy_column {
  min-height:75vh;
  text-align: center;
}

.cart-column {
  min-height: 75vh;
  border-left:black solid 2px;
  border-right: black solid 2px;
  padding: 5px;
}

.cart-item {
  background-color: rgb(172, 172, 172);
}

.cart-item:hover {
  background-color: grey;
}

 

/*ID Styles*/
#muteButton{
  display: none;
}

#emptyNameBox{
  display: none;
  color: red;
}

#emptyEmailBox{
  display: none;
  color: red;
}

#noMatch{
  display: none;
  color: red;
}

#success{
  display: none;
}

#deleteButton:hover {
  color:red;
  cursor: pointer;
}

#checkoutButton {
  display: none;
}

#emptyCartButton {
  display: none;
  margin: 10%;
}


#recieptRow {
  display: none;
}


#main_image {
  width: 100%;
  height: 400px;
  margin: 5%;
  
}

@media (max-width: 650px) {
  #main_col {
    max-width: 80vw;
    padding:0;
    margin:0;
  }

  #main_image {
    width:320px;
    height:240px;
    margin:0;
  }
}









