/*import fonts*/
@font-face{
	font-family:'Amatic Bold';
	src: url('../fonts/amatic/amatic-bold-webfont.woff') format('woff'),
    url('../font/amatic/amatic-bold-webfont.woff2') format('woff2');
}
@font-face {
    font-family: 'Amatic';
    src: url('../fonts/amatic/amaticsc-regular-webfont.woff') format('woff'),
    url('../font/amatic/amaticsc-regular-webfont.woff2') format('woff2');
}
/*structural styles*/

body{
font-family: Arial, Helvetica, sans-serif;
font-size: 1em;
background-image: url(../image/abstractPic.jpg);
background-size: cover;
}
h1{
font-family: 'Amatic', 'Arial', serif;
font-size: 2em;
}
h3{
font-size: 1.5em;
}
nav{
    width: 175px;
    background-color: #E7DBF6;
    float: left;
}
article{
    margin-left: 175px;
    background-color:white;
    padding: 10px;
}
footer{
    font-size: 12px;
    text-align: center;
    margin-top:10px;
    padding-bottom: 10px;
}

/*classes*/
.fonts{
font-family: 'Comic Sans MS', 'Times New Roman', serif;
font-size: 1.5em;
font-style:italic;
font-weight: bold;
color:orange;
}
.colors{
color:red;
font-weight: bold;
}
.backgrounds{
color:green;
font-family: 'Trebuchet MS', 'Times New Roman', serif;
font-size: 1.25em;
}
.more{
color:blue;
text-decoration: underline;
border: 1px dashed gray;
background-color: #D69BBE;
}
#outerwrapper{
    width: 650px;
    background-color: #E7DBF6;
    margin-left: auto;
    margin-right:auto;
}
.peace{
    list-style-image: url('../image/peaceSign.png');
}
