@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Peter Pfisterer's Disk Inventory</h1>
    <p class="lead">Hello! This is a web app that accesses a database of a fake CD collection built in ASP.NET Core. I built this in my SWDV-235 class for Project 2.</p>
</div>
